.header {
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 350px;
  backdrop-filter: blur(4.5px);
  position: relative;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  
  &__nav {
    ul {
      display: flex;
      list-style: none;
      gap: 30px;

      li {
        color: #fff;
        font-size: 18px;
        a {
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
  &__search{
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 10px 200px;

  display: flex;
  transition: all 1s;
  input{
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 15px;
  }

  &.active{
    top: 100%;
  }
}
}
